<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ensmp.portail"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PortailApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <uses-library android:name="com.google.android.maps"/>
        
        <activity
            android:name=".MessagesActivity"
            android:label="@string/titre_activite_messages" >            
        </activity>
        <activity
            android:name=".TrombiListeActivity"
            android:label="@string/titre_activite_trombi" >
        </activity>        
        <activity
            android:name=".TrombiDetailActivity"
            android:label="@string/titre_activite_trombi_detail" >
        </activity>
        <activity
            android:name=".CalendrierActivity"
            android:label="@string/titre_activite_calendrier" >
        </activity>
        <activity
            android:name=".PetitsCoursActivity"
            android:label="@string/titre_activite_petits_cours" >
        </activity>
        <activity
            android:name=".VendomeListeActivity"
            android:label="@string/titre_activite_vendome" >
        </activity>
        <activity
            android:name=".VendomeDetailActivity"
            android:label="@string/titre_activite_vendome" >
        </activity>
        <activity
            android:name=".ImagePagerActivity"
            android:label="@string/ac_name_image_pager" />
        <activity
            android:name="ImageGridActivity"
            android:label="@string/ac_name_image_grid" />
        <activity
            android:name="ImageListActivity"
            android:label="@string/ac_name_image_list" />
        <activity
            android:name="com.ensmp.portail.LoginActivity"
            android:label="@string/titre_activite_login"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Widget -->
        <receiver android:name=".widget.UILWidgetProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>
        
        <service android:name=".widget.MediaMinesFetcherService"/>
        
    </application>

</manifest>